body{
    background-color: #57667a
}

.cell{
    height: 3rem;
    width: 3rem;
}
.board{
    padding: 8rem;
}
.board-row{
    display: flex;
    justify-content: center;
}
.Title{
    display: flex;
    justify-content: center;
}
.Restart{
    display: flex;
    justify-content:  center;
}